@headerBg: #414141;
@headerSecondBg: #51709b;
@headerThirdBg: #282828;
@headerFourthBg: #3c5588;
@headerFifthBg: #00346a;
@headerSixthBg: #2c4aaf;
@headerSeventhBg: #31559e;
@borderTopDesc: #c9cacc;

.section-header {
    background-color: @headerBg;
    color: white;
    padding: 10px 20px;
    .section-header__img-container {
        position: relative;
    }
    .section-header__heading {

    }
    .section-header__body {
        font-size: 15px;
        text-align: justify;
    }
    .section-header_business-guy {
        position: absolute;
        top: -3px;
    }
}
.section-header--blue {
    background-color: @headerSecondBg;
}
.section-header--blue-fourth {
    background-color: @headerFourthBg;
}
.section-header--blue-fifth {
    background-color: @headerFifthBg;
}
.section-header--blue-sixth {
    background-color: @headerSixthBg;
}
.section-header--blue-seventh {
    background-color: @headerSeventhBg;
}
.section-header--black {
    background-color: @headerThirdBg;
}

.section-feature {
    .section-feature__heading {
        border-left: 3px solid @headerBg;
        padding: 5px 0px 5px 5px;
        line-height: 30px;
        text-decoration: none;
        font-size: 30px;
        font-weight: bold;
        color: @headerBg;
    }

    .section-feature__description {
        border-top: 1px solid @headerBg;
        padding: 3px 0 0 5px;
        text-align: justify;
    }
    .section-feature__money-symbol {
        color: @headerSecondBg;
        font-size: 45px;
    }
    .section-feature__image {

    }
}

.section-feature-vertical {
    .section-feature-vertical__heading {
        text-align: center;
    }
    .section-feature-vertical__description {
        margin: 10px;
        padding: 2px;
        text-align: center;
        border-left: 3px solid @headerBg;
        border-bottom: 1px solid @headerBg;

        span {
            font-weight: bold;
            font-size: 30px;
        }

    }
}

.section-list {
    list-style-type: circle;
    margin-left: 25px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .section-feature {
        .section-feature__image {
            text-align: center;
            .img-responsive {
                margin: 0 auto;
            }
        }
    }
    .section-header {
        .section-header__img-container {
            text-align: center;
            .img-responsive {
                margin: 0 auto;
            }
        }
        .section-header__heading {
            text-align: center;
        }
        .section-header_business-guy {
            display: none;
        }
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .section-header {
        .section-header__img-container {
            text-align: left;
            margin: 0;
        }
        .section-header__heading {
            text-align: right;
        }
        .section-header_business-guy {
            display: block;
        }
    }
    .section-feature {
        .section-feature__image {
            text-align: left;
            .img-responsive {
                margin: 0;
            }
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

@media only screen and (min-width : 1920px) {
    .section-header {
        .section-header_business-guy {
            top: -24px;
        }
    }
}
